.container-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-whitesmoke);
}

.left-row {
  flex: 2;
  margin-right: 20px;
  margin-bottom: 50px;
}

.right-row {
  flex: 2;
  text-align: right;
}

.left-row h2 {
  font-size: 2rem;
  font-weight: bold;
}

.left-row .subtitle {
  font-size: 15px;
}

.left-row p {
  margin: 5px auto;
  line-height: 1.6;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 20px;
  margin-left: 9rem;
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

.button:hover {
  background-color: var(--color-primary-blue);
}

.right-row img {
  width: 100%;
  max-width: 50rem;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(16, 15, 15, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.right-row img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
@media (max-width: 41.81em) {
  .container-about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .button {
    margin: 0 auto;
    padding: 10px 5px;
  }

  .left-row {
    margin-bottom: 20px;
  }
  .left-row p {
    margin: auto;
    line-height: 2rem;
  }

  .right-row {
    text-align: center;
  }
}
