.ls-container-signup, .ls-container-login {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 150px;
  width: 100%;
  max-width: 600px;
  background: var(--color-whitesmoke);
  padding: 2rem;
  box-sizing: border-box;
}

.ls-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 1rem;
}

.ls-text {
  color: var(--color-primary-blue);
  font-size: 2.4rem;
  font-weight: 700;
}

.ls-underline {
  width: 5rem;
  height: 3px;
  background: var(--color-primary);
  border-radius: 9px;
}

.ls-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 2rem;
}

.ls-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  background: var(--color-white);
  border-radius: 6px;
  padding: 1rem;
  box-sizing: border-box;
}

.ls-input .ls-icon {
  margin-right: 10px;
}

.ls-input input {
  height: 4rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--color-secondary);
  padding: 0 1rem;
  box-sizing: border-box;
}

.ls-error {
  color: var(--color-red);
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.ls-forgot-password span {
  color: var(--color-primary-blue);
  cursor: pointer;
}

.ls-submit-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
}

.ls-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 5rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ls-submit:hover {
  background-color: var(--color-red);
}

.ls-gray {
  background: var(--color-right-green);
  color: var(--color-dimgrey);
}



@media screen and(max-width: 48em) {
  .ls-container-signup, .ls-container-login {
    margin-top: 100px;
    padding: 1.5rem;
  }

  .ls-text {
    font-size: 2rem;
  }

  .ls-input input {
    height: 3.5rem;
    padding: 0 0.75rem;
  }

  .ls-submit {
    width: 180px;
    height: 4.5rem;
    font-size: 1.2rem;
  }
}

@media screen and(max-width:30em) {
  .ls-container-signup, .ls-container-login {
    margin-top: 50px;
    padding: 1rem;
  }

  .ls-text {
    font-size: 1.5rem;
  }

  .ls-input input {
    height: 3rem;
    padding: 0 0.5rem;
  }

  .ls-submit {
    width: 150px;
    height: 4rem;
    font-size: 1rem;
  }
}