.contactus {
  display: flex;
  flex-direction: column;
  background-color: var(--color-whitesmoke);
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  overflow: hidden;
}

.contact form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact form h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contact form .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact form .form-group input,
.contact form .form-group textarea {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--color-secondary);
}
@media (max-width: 30.187em) {
  .contact form .form-group input,
  .contact form .form-group textarea {
    width: 100%;
  }
}

.contact form textarea {
  height: 150px;
  resize: none;
}

.contact form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-right-green);
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact form button:hover {
  background-color: var(--color-primary-blue);
}

@media (max-width: 30em) {
  .contact form {
    padding: 1rem;
  }

  .contact form h4 {
    font-size: 1rem;
  }

  .contact form .form-group input,
  .contact form .form-group textarea {
    font-size: 0.75rem;
    text-align: center;

    padding: 6px;
  }

  .contact form button {
    padding: 6px 12px;
    font-size: 0.75rem;
  }
}
