.hero {
  background-image: url("../../../src/assets/pexels-dropshado-2251247.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 29.75em) {
  .hero {
    height: 104vh;
  }
}

.hero h1 {
  color: var(--color-white);
  max-width: 100%;
  font-size: 3vw;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 476px) {
  .hero h1 {
    font-size: 6vw;
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

form {
  background-color: var(--color-white);
  border-radius: 5px;
  margin-top: 5rem;
  padding: 0 20px;
  display: flex;
  gap: 2px;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

@media screen and (max-width: 30.18em) {
  form {
    flex-wrap: wrap;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

form input {
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

form span {
  font-size: 14px;
  color: var(--color-secondary);
}

input::placeholder {
  font-size: 1.7rem;
  color: var(--color-black);
}

form .box {
  padding: 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}

form .box:nth-child(1) {
  border-left: none;
}

form h4 {
  font-weight: 500;
}

.search-icon {
  color: var(--color-black);
}

.btn1 {
  background-color: var(--color-red);
  border: none;
  padding: 1.2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn1:hover .search-icon {
  color: var(--color-whitesmoke);
}

@media screen and (max-width: 30.18em) {
  .btn1 {
    width: 100%;
  }
}
